<launch>
	<arg name="sim" default="true" />
	<arg name="limited" default="false" />
	
	<include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch">
		<arg name="sim" default="$(arg sim)"/>
		<arg name="limited" default="$(arg limited)"/>
	</include>
	
	<node name="vacuum_controller" pkg="rosserial_python" type="serial_node.py">
	<param name="port" type="string" value="/dev/ttyUSB0"/>
	</node>

	<node name="pipeline" pkg="ur10_picking" type="pipeline.py" output="screen"/>
	<node name="moveit_interface" pkg="ur10_picking" type="ur10_motion_interface.py"/>
	<node name="vision_server" pkg="ur10_picking" type="vision_ros.py" output="screen"/>

	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_frame_broadcaster"    args="0.57  0.035  -0.02  0 0.1305 0 0.9914 ee_link camera" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="ee_link_aligned_broadcaster" args="0     0      0     0.7071 0.7071 0 0 ee_link ee_link_aligned" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="periscope_cup_broadcaster"   args="0.68  0.06   0.01  0 0 0 1 ee_link periscope_cup" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="hook_cup_broadcaster"        args="0.58 -0.15   0.01  0 0 0 1 ee_link hook_cup" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="hook_centre_broadcaster"     args="0.58 -0.10   0.01  0 0 0 1 ee_link hook_centre" />

</launch>
